<div class="panel panel-default col-md-12">
  <div class="panel-body">
    <form class="form-inline">
      <div class="form-group col-md-5 ">
        <div class="input-group">
          <span class="input-group-addon">Placa</span>
          <input autofocus class="form-control" mask='@@@-9999' ng-model='placa' placeholder="BMW-2015" style="text-transform: uppercase" type="text">
        </div>
      </div>
      <div class="form-group col-md-5 ">
        <div class="input-group">
          <span class="input-group-addon">Tipo</span>
          <select class="form-control" ng-model='tipo' ng-options=" item.descricao for item in tipoVeiculos "></select>
        </div>
      </div>
      <button class="btn btn-success col-xs-12 col-md-2 " ng-click="add()" type="submit">
        <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
      </button>
    </form>
  </div>
</div>

<table class="table table-striped col-md-12">
  <thead>
    <tr>
      <th>Placa</th>
      <th>Tipo</th>
      <th>Tempo</th>
      <th>Valor</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="ticket in tickets">
      <td>{{ticket.placa}}</td>
      <td>{{ticket.tipo.descricao}}</td>
      <td>{{ticket.tempo() | date:'HH:mm:ss':'UTC'}}</td>
      <td>{{ticket.valor() | currency:"R$" }}</td>
      <td>
        <button class="btn btn-xs btn-info" data-target="#checkout" data-toggle="modal" ng-click="prepareToCheckout(ticket)">
          <span aria-hidden="true" class="glyphicon glyphicon-shopping-cart"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div aria-labelledby="checkout" class="modal fade" id="checkout" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">{{ticket.placa}}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="desconto">Desconto</label>
            <div class="input-group">
              <span class="input-group-addon">R$</span>
              <input class="form-control"  ng-model='ticket.desconto'  id="desconto">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">
            <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
          </button>
          <button class="btn btn-primary" ng-click="checkout()" data-dismiss="modal" type="button">
            <span aria-hidden="true" class="glyphicon glyphicon-ok"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
